{% extends 'layout.html.twig' %}

{% block extrameta %}
    <meta name="description" content="Pagina para ver los mensajes recibidos">
{% endblock %}

{% block title %}Ver Mensajes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/administrador.css') }}" />
{% endblock %}

{% block body %}
    {% for mensajeFlash in app.session.flashbag.get('notificacion') %}
        <div class="contenedor-notificacion">
            <p>{{ mensajeFlash }}</p>
        </div>
    {% endfor %}
    <section>
        <h2>Mesajes recibidos</h2>
        <div class="seccion-contenedor">
            <table class="listado-mensajes">
                <tr>
                    <th>Nombre y apellidos</th>
                    <th>Email</th>
                    <th>Fecha de registro</th>
                    <th>Comentario</th>
                </tr>
                {% for mensaje in mensajes %}
                    <tr>
                        <td>{{ mensaje.nombre ~ ' ' ~ mensaje.apellidos }}</td>
                        <td>{{ mensaje.email }}</td>
                        <td>{{ mensaje.fechaRegistro|date("d/m/Y") }}</td>
                        <td>{{ mensaje.comentario }}</td>
                        {% if eliminar is defined %}
                            <td>
                                <a class="enlace-para-eliminar-mensaje" href="{{ path('delete_message', {'message_id' : mensaje.id}) }}">Eliminar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}


