{% extends 'layout.html.twig' %}

{% block extrameta %}
    <meta name="description" content="Menu de administracion. DeLocaleo.com">
{% endblock %}

{% block title %}Menu Administración{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/administrador.css">
{% endblock %}


{% block body %}
    <section>
        <h2>Menú de administracion DeLocaleo.com</h2>
        <div class="contenedor-menu-administracion">
            <a href="{{ path('list_post') }}">Listar Posts</a>
            <a href="{{ path('add_post') }}">Añadir Post</a>
            <a href="{{ path('list_modify_post') }}">Modificar Post</a>
            <a href="{{ path('list_delete_post') }}">Eliminar Post</a>
            <a href="{{ path('list_categories') }}">Listar Categoria</a>
            <a href="{{ path('add_category') }}">Añadir Categoria</a>
            <a href="{{ path('list_modify_category') }}">Modificar Categoria</a>
            <a href="{{ path('list_delete_category') }}">Eliminar Categoria</a>
            <a href="{{ path('list_messages') }}">Listar Mensajes recibidos</a>
            <a href="{{ path('list_delete_messages') }}">Eliminar Mensajes recibidos</a>
            <a class="final" href="/">Salir</a>
        </div>
    </section>
{% endblock %}