<header>
    <div class="contenedor-header">
        <div class="contenedor-boton">
            <button id ="expandeMenu" class="expande-menu">Menú</button>
        </div>
        <div class="contenedor-logo">
            <figure>
                <img src="{{ asset('img/icons/logo.png') }}" alt="logo-delocaleo.png" />
            </figure>
        </div>
    </div>
    <nav id="navegacion" class="navegacion ocultar">
        <ul class="menu-navegacion">
            <li class="item-navegacion"><a href="{{ path('inicio') }}">Inicio</a></li>
            {% for categoria in categorias %}
                <li class="item-navegacion"><a href="{{ categoria.nombre }}">{{ categoria.nombre|capitalize }}</a></li>
            {% endfor %}
            <li class="item-navegacion"><a href="{{ path('contacto') }}">Contacto</a></li>
            <li id="cerrar" class="item-cerrar"><img src="{{ asset('img/icons/cerrar.png') }}"></li>
        </ul>
    </nav>
</header>